.wf-budget {
    font-size: 18px;
    padding-top: 6em;
    color: $lighter-text;

    p {
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }

    button {
        padding-right: 0.4em;
        border-radius: 7px;
    }

    .separator {
        border-bottom: 1px solid $brand-tertiary;
        margin-bottom: 1.5em;
    }

    .intro {
        p {
            text-align: center;
        }
    }

    label {
        display: block;
        font-family: inherit;
    }

    input {
        text-align: center;
        width: 7em;
        border-radius: 7px;
        border: 3px solid $gray-lighter;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    code {
        font-style: normal;
        color: rgb(62, 83, 72);
        background-color: transparent;
    }

}
