.document-list {
    li span {
        color: $gray-light;
        font-size: 0.8em;
        display: inline-block;
        margin-left: 0.5em;
    }
    p {
      margin-top: 1.5em;
    }
    ul {
      margin-left: 1.5em;
    }
}
