$fontPath: '/assets/fonts/';

@font-face {
    font-family: 'Avenir';
    src: url("fonts/avenir.ttf");
}

@font-face {
    font-family: 'Kim1';
    src: url("fonts/kim1.ttf");
}

@font-face {
    font-family: 'Kim2';
    src: url("fonts/kim2.ttf");
}

@font-face {
    font-family: 'Sep';
    src: url("fonts/sep.ttf");
}

@font-face {
    font-family: 'Wildchild';
    src: url("fonts/wildchild.ttf");
}

.times {
    font-family: "Times New Roman";
}

.georgia {
    font-family: "Georgia";
}

.helvetica {
    font-family: "Helvetica";
}

.avenir {
    font-family: 'Avenir';
    font-weight: 300 !important;
}

.kim1 {
    font-family: 'Kim1';
    letter-spacing: 1px;
}
.kim2 {
    font-family: 'Kim2';
}
.sep {
    font-family: 'Sep';
}
.wildchild {
    font-family: 'Wildchild';
}
