.licensing-finish {
    input {
        font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding: 6px 0.5em;
        line-height: 24px;
    }
    input, button {
        vertical-align: baseline;
    }

}

.printable-summary {
    display: none;
}

@media print {
    .licensing-finish {
        display: none;
    }
    .printable-summary {
        h1, h2 {
            font-size: 24px;
            margin-top: 12px;
            margin-bottom: 12px;
        }
        td {
            padding: 8px 4px !important;
        }
        ul {
            padding-bottom: 4px !important;
            margin-bottom: 0 !important;
        }
        display: initial;
    }
}
