.licensing-editor {
    .class-size-selector {
        display: inline-block;
        margin: 0 0.5em;
        vertical-align: middle;
    }
    .age-range-selector {
        display: inline-block;
        margin: 0 0.5em;
        min-width: 20em;
        vertical-align: middle;
    }

}
