.licensing-teachers {
    .teachers-edit {
        .class-size-selector {
            width: 8em;
            display: inline-block;
            margin: 0 0.5em;
        }
        .age-range-selector {
            width: 14em;
            display: inline-block;
            margin: 0 0.5em;
        }

    }


    .table-teachers {
        strong {
            font-size: 1.5em;
            font-family: $forms-btt-font-family;
            font-weight: 300;
            color: $brand-primary;
            margin: 0 3px;
        }

        p {
            margin-bottom: ($line-height-computed / 4);
        }
        ul,
        & li {
            list-style-type: none;
        }
        .glyphicon-ok {
            font-size:1.5em;
            margin: .25em 0 0 16px;
            color: $brand-primary;
        }
        a.detail-link {
            display:block;
            margin-top:.75em;
        }
    }

}
