.licensing-finish {
    input {
        font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding: 6px 0.5em;
        line-height: 24px;
    }
    input, button {
        vertical-align: baseline;
    }
}
