$ember-power-select-default-border-radius: 0px;
$ember-power-select-border-color: mix(#fff, $brand-primary, 35%);
$ember-power-select-placeholder-color: inherit;
@import 'ember-power-select';

.ember-power-select-trigger {
  text-align: left;
  padding: 6px 32px 6px 12px;
  background-color: $brand-tertiary-light;
}

.ember-power-select-trigger, .ember-power-select-options {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
