@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Vollkorn:400,400italic);

html {
        position: relative;
        min-height: 100%;
}
body {
        /* padding-top: 60px;  height of header/navbar (for fixed position nav) */
        margin-bottom: 48px; /* height of footer */
}

/* navbar (header) styles ---------- */
.navbar.theme {
        margin-bottom: 0;
}
.theme .navbar-brand {
        font-size: 32px;
        font-weight: normal;
        text-transform: lowercase;
        letter-spacing: .05em;
        line-height: 1;
        margin: 0;
        padding-left: 100px;
}
.theme .navbar-brand {
        background:url(../images/wildflowerFoundationLogo_noText.png) no-repeat 0 0;
        background-position: 10px 0;
        background-size: 80px auto;
}

/* sub-headers ---------- */
header.sub-header h1 {
        background-image:url(../images/icon_stamp.svg);
        background-repeat: no-repeat;
        background-position: 8px 0;
        background-size: fit;
        padding-left: 2em;
}

/* content styles ---------- */
main {
        padding-bottom: 2em;
}
h2 small {
        font-size: 1em;
        font-weight: 300;
        color: inherit;
}
small {
        color: #bbb;
}
.bg-light {
        background: #f4f4f4;
}
.text-greeting {
        margin-bottom: 2em;
}

/* teachers subtabs ---------- */
#teachers {
        position: relative;
}
#subtab-teachers2 {
        position: absolute;
        width: 100%;
        top: 0;
}

/* form styles ---------- */
.form-wide button,
.form-wide ul {
    width: 100%;
}

/* footer ---------- */
footer {
        padding: 8px 10px 7px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 48px;
}


.budget {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;

    code {
        font-style: normal;
        color: rgb(62, 83, 72);
        background-color: transparent;
    }

    p {
        font-style: italic;
        letter-spacing: 0.1ex;
        margin-bottom: 24px;
    }

    .questions > div {
        margin-right: 3.5em;
        margin-left: 3.5em;
        margin-bottom: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        label {
            flex: 1;
            font-weight: normal;
            &:after {
                content: ":";
            }
        }
        input {
            text-align: right;
            font-family: sans;
            font-size: 1.2em;
            max-width: 7em;
        }
    }
}
