<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
    <div class="page-header">
      <h2>Let’s start the licensing process.</h2>
      <p>We’re here to help you every step of the way.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
    <p class="text-greeting"> <strong>First, tell us where you want to open your school so we can pull up the right information.</strong></p>

    {{state-selector state=model.state onchange=(action (mut model.state))}}

    {{#liquid-if model.state use="fade"}}
      <a onclick={{action changeStep 1}} class="btn btn-default">Continue</a>
    {{/liquid-if}}

  </div>
</div>
