{{#if active}}
  {{#ember-tether target=target targetAttachment=targetAttachment attachment=attachment}}
    <div class="post-it">
      <button onclick={{action (mut active) false}} class="glyphicon glyphicon-remove"></button>
      {{yield}}
    </div>
  {{/ember-tether}}
{{/if}}