<h1>Let us help you create your Wildflower School budget.</h1>

<p>With some basic information, we'll pre-populate a financial model for you that you can customize.</p>

<p>First, tell us the total amount of your combined teacher salaries:</p>

{{input value=salaries}}

<p>Next, we'll need to know how much you will pay in monthly rent (not including utilities):</p>

{{input value=rent}}

<button {{action "create"}}>Create Spreadsheet</button>
