<div class="row licensing-location">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    {{licensing-editor model=model}}
    <h3>Your location will need:</h3>

    {{#liquid-bind (obj range=model.ageRange
                        classSize=model.classSize
                        minSquareFeet=model.minSquareFeet
                        recommendedSquareFeet=model.recommendedSquareFeet
                    ) use="fade" as |current|}}
    <div class="table-responsive">
      <table class="table recommendations-table highlight">
        <tbody>
          <tr>
            <td class="text-center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            <td><p>A minimum of <strong>{{current.minSquareFeet}}&nbsp;Square&nbsp;Feet</strong>.</p>
            <p>The space should:</p>
              <ul class="checklist">
                <li>be ADA compliant</li>
                <li>have two exits</li>
                <li>have separate spaces for an office and storage</li>
                <li>have adequate bathrooms</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
            <td><p>For a Montessori classroom, Wildflower recommends at least <strong>{{current.recommendedSquareFeet}}&nbsp;Square&nbsp;Feet</strong>.</p>
            <p>An ideal Wildflower school location should:</p>
              <ul class="checklist">
                <li>be within walking distance to a city-maintained playground for the appropriate age range</li>
                <li>have a reasonable pickup/dropoff for parents during morning business hours</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {{/liquid-bind}}
  </div>
</div>
{{licensing-pager changeStep=changeStep}}