<div class="row licensing-location">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    {{licensing-editor model=model}}
    <h3>Your location will need:</h3>

    {{#liquid-bind (obj minSquareFeet=model.minSquareFeet
                        recommendedSquareFeet=model.recommendedSquareFeet
                    ) use="fade" as |current|}}
    <div class="table-responsive">
      {{location-results results=current}}
    </div>
    {{/liquid-bind}}
  </div>
</div>
{{licensing-pager changeStep=changeStep}}