<div role="tabpanel" id="location">
  <!-- header and greeting -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
      <div class="page-header">
        <p>Location xxxxx.</p>
      </div>
    </div>
  </div>
</div>
