<table class="table recommendations-table highlight location-results">
  <tbody>
    <tr>
      <td class="text-center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
      <td><p>A minimum of <strong>{{results.minSquareFeet}}&nbsp;Square&nbsp;Feet</strong>.</p>
      <p>The space should:</p>
      <ul class="checklist">
        <li>be ADA compliant</li>
        <li>have two exits</li>
        <li>have separate spaces for an office and storage</li>
        <li>have adequate bathrooms</li>
      </ul>
      </td>
    </tr>
    <tr>
      <td class="text-center"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></td>
      <td><p>For a Montessori classroom, Wildflower recommends at least <strong>{{results.recommendedSquareFeet}}&nbsp;Square&nbsp;Feet</strong>.</p>
      <p>An ideal Wildflower school location should:</p>
      <ul class="checklist">
        <li>be within walking distance to a city-maintained playground for the appropriate age range</li>
        <li>have a reasonable pickup/dropoff for parents during morning business hours</li>
      </ul>
      </td>
    </tr>
  </tbody>
</table>
