{{outlet}}

<footer>
  <div class="container">
    <p class="text-center text-muted small">Copyight © 2015 Wildflower.
      <u>{{#link-to "privacy-policy" class="text-muted"}}About your privacy{{/link-to}}</u></p>
  </div>
</footer>