<nav class="navbar theme">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-brand" href="#">Wildflower</a> </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/budget">Budget</a></li>
            <li><a href="#/licensing">Licensing</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{sub-header}}

<main>{{outlet}}</main>

<footer>
  <div class="container">
    <p class="text-center text-muted small">Copyight © 2015 Wildflower. <u><a href="#" class="text-muted">About your privacy</a></u></p>
  </div>
</footer>
