<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="page-header">

      This site collects no personal information. If you provide your
      email address, we will use it only to send you the information
      you requested. All other information that you provide stays in
      your own web browser and is never logged by our servers.

    </div>
  </div>
</div>